MAPBOX_ACCESS_TOKEN=your_mapbox_secret_token_here
API_BASE_URL=https://terrango.onrender.com/api/v1
WEBSOCKET_URL=wss://terrango.onrender.com
MAP_DEFAULT_ZOOM=14.0
MAPBOX_DARK_STYLE_URI=mapbox://styles/mapbox/dark-v11
ADMOB_BANNER_ANDROID_UNIT_ID=ca-app-pub-3940256099942544/6300978111
ADMOB_BANNER_IOS_UNIT_ID=ca-app-pub-3940256099942544/2934735716
API_BEARER_TOKEN=

